.info-container {
  background-color: white;
  margin: 0 20px;
  border-radius: 10px;
  text-align: start;
  padding: 25px 25px;

  #info-header {
    font-size: 25px;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
  }

  #info-description {
    font-size: 16px;
    color: hsl(231, 6%, 44%);
    padding-bottom: 15px;
  }

  .input-box {
    margin-bottom: 20px;
    width: 100%;
  }

  @media screen and (min-width: 879px) {
    #info-header {
      font-size: 30px;
    }

    #info-description {
      padding: 5px 0 27px 0;
    }
  }
}
